{% load static %}

{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a> 
            <a class="nav-link" href="{% url 'index' %}">All Posts</a>


            <ul class='nav'>
                
                {% if user.is_authenticated %}
                    <li class="nav-item ms-auto dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="authDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="authDropdown">
                            <a class="dropdown-item" href="{% url 'profile' name=user.username %}"><strong>{{ user.username }}</strong></a>
                            <a class="dropdown-item" href="{% url 'post' %}">Create New Post</a>
                            <a class="dropdown-item" href="{% url 'following'%}">Following</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>

                {% else %}
                    <li class="nav-item ms-auto dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="authDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login & Register
                        </a>
                        <div class="dropdown-menu" aria-labelledby="authDropdown">
                            <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                            <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                        </div>
                    </li>

                {% endif %}
            </ul>
          
        </nav>

        
        <div class="body">
            {% block body %}
            {% endblock %}

            {% if request.resolver_match.url_name in "profile following index" %}

                <!-- Post Code -->

                {% for post in posts %}

                    <div id='postID_{{post.id}}' class='post'>
                        <div id ='postUser'>
                            <p><a href= {% url 'profile' name=post.author%}>{{ post.author }}</a></p>
                            <p>{{ post.posted_date }}</p>
                        </div>

                        <div id='postContent'>
                            <p id='post_content_{{post.id}}'>{{ post.post_content }}</p>
                        </div>

                        <div id='likes'>
                            <p> &#128077 <p id='likeCount_{{post.id}}'>{{ post.likes.count }}</p></p>
                        </div>



                        <div id='button'>

                            {% if request.user.is_authenticated %}

                                {% if request.user.username in likedUsers|get_item:post.id %}
                                    <button class='likeButton' data-id= '{{post.id}}'>Unlike</button>
                                {% else %}
                                    <button class='likeButton' data-id= '{{post.id}}'>Like</button>
                                {% endif %}

                            {% endif %}

                            
                            {% if request.user.username == post.author.username %}
                                <button class="edit_button" data-id='{{ post.id }}'>Edit</button>
                            {% endif %}
            
                        </div>

                    </div>

                {% endfor %}

                <!-- Pagination Code -->

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{posts.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                        {% endif %}

                        {% for n in pagelist%}
                            <li class="page-item"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
                        {% endfor%}

                        {% if posts.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>

            {% endif %}

        </div>

        <div class="script">

            {% block script %}
            {% endblock %}
        </div>
    </body>
</html>