{% extends "network/layout.html" %}

{% load static %}

{% block body %}


    <h2>User Profile</h2>

    <div id='userDetails'>

        <p id ='loggedUser'>{{user_details.username}}</p>

        <div id= 'followDetail'>
            <p id='followerCount'>Followers: <a id="follower_count">{{follower_count}}</a></p>
            
            <p id='followingCount'>Following: <a id="following_count">{{following_count}}</a></p>
        </div>

        {% if user.is_authenticated %}

            {% if request.user.username != user_details.username %} 
                <div class="followContainer">
                    {% if request.user.username in follower_list%}
                        <button class='followButton'>Unfollow</button>
                    {% else %}
                        <button class='followButton'>Follow</button>
                    {% endif %}
                </div>
            {% endif %}
            
        {% endif %}

    </div>




{% endblock %}

{% block script %}

    <script src="{% static 'network/edit.js' %}"></script>
    <script src="{% static 'network/like.js' %}"></script>
    <script src="{% static 'network/follow.js' %}"></script>

{% endblock %}