{% extends "network/layout.html" %}

{% block body %}

    <h2>New Post</h2>

    <form action="{% url 'post' %}" method="post" id="post_form">
        {% csrf_token %}

        {{ new_post }}
        <button type='submit' id= 'post_button'> Add Post</button>
    </form>

{% endblock %}  

{% block script %}

    <script>

        document.addEventListener('DOMContentLoaded', function() {
           document.querySelector('#post_button').onclick = function(event){

            event.preventDefault();

            alert(`The post has been added to the feed`);

            document.querySelector('#post_form').submit();
           }
        })
    
    </script>


{% endblock %}