/* Nav Bar CSS */
.navbar {
    display:flex;
    margin-bottom:15px

}

.nav{
    display: flex;
    flex-grow:1;
    justify-content: end;
    
}

/* Header */


h2{
    display:flex;
    margin: 10px 50px;
    color:#434952;
    justify-content: center;
}


/* User Details */

#userDetails{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:10px;
    margin:15px;
    font-size: 20px;

}

#loggedUser{
    font-size: 25px;
    font-weight: bold;
}

#followDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#followerCount, #followingCount{
    margin: 10px 20px
}

/* button */

.followButton, #post_button, 
.likeButton, .edit_button{
    width: 120px;

    cursor:pointer;
    background-color: #f8f9fa;
    border-radius: 4px;
}

.followButton:hover, #post_button,
.likeButton, .edit_button {
    border-color: rgba(223,225,229,0);  
}

#button{
    display:flex;
    justify-content: flex-start;
    gap:10px;


}
.likeButton, .edit_button{
    width: 49.5%;

}

/* Post Form  */


#post_form{
    display:flex;
    margin: 30px;
    flex-direction: column;
}
.form-control{
    display: flex;
    border: 1px solid #b6b8bc;
    border-radius: 5px;
    width:80%;
    margin: 30px auto; 
    padding: 20px;
    box-sizing:border-box;
    height: 80%
}

/* Each Post */

.post{

    border:1px solid #dfe1e5;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    cursor: pointer;
    border-radius:10px;
}



#postUser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

#postContent{
    display: flex;
    font-size: 20px;
    white-space: pre-line;
    margin: none;
    justify-content: center;
}

#likes{
    display: flex;
    flex-direction: row;
}

/* Edited Form */

.editForm{
    display: block;
    width:900px;
    padding:10px;
    margin:none;
    font-size: 16px;

}